.post {
  width: 700px;
  /* height: 250px; */
  background-color: #fff;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.133916);
  border-radius: 4px;
}

.post .post-title {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.post .post-title img {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

.post .post-title .post-author {
  display: flex;
  flex-direction: column;
}

.post .post-title .post-author small {
  color: #9a9a9a;
  font-weight: 300;
}

.post-description {
  font-weight: normal;
  font-weight: 300;
  margin-bottom: 20px;
}

.separator {
  width: 660px;
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 20px;
}
